<!doctype html>
<html>
  <head>
    <title>Palmer Cluff's Personal Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  </head>
  <body>
    <p>
      <a href="http://palmercluff.com/japan-blog">My Japan travel blog</a>
    </p>
    <p>
      <a href="http://palmercluff.com/technical-blog">My technical blog</a>
    </p>
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>
